.nav {
	position: fixed;
  height: 100%;
	width:15%;
    left: 0;
    top: 0;
    ul{
      margin-top: 3em;
      margin-left: 6em;
      li{
      display: block;
      list-style: none;
      width: 7em;
      height: 3em;
      margin-right: 3em;
      margin-bottom: 2px;
      line-height: 3em;
      text-align: center;
      color: black;
          background-color: white;
      
        }
        #ten{
          display: none;
        }
      .navchange{
        background-color: #409EFF;
        color: white;
      }
    }


}
@media screen and (max-width:480px){
.nav{
   position: fixed;
  width: 100%;
  height:2em;
  top: 2em;
    left: 0;
    z-index: 2;

   
    ul{
      margin-top: 0em;
      margin-left:0em;
      li{
      list-style: none;
      float: left;
      width:20%;
      height: 2em;
       margin-right: 0em;
        margin-bottom: 0px;
      line-height: 2em;
      text-align: center;
      color: black;
      
      
        }
     #five,#six,#seven,#eight,#nine{
           display: none;
      }
      #ten{
        display: block;
      }
      .navchange{
       background-color: white;
        color: red;

      }
    }

}
}
