.new-title{

	width: 100%;
	height: 8em;
	border-bottom: 1px solid grey;
	background-color: #EBEEF5;
	.photo{
	width: 20%;
	height:6em;
	float: left;
    }
    .main{
    	width: 80%;
    	height: 6em;
    	float:left;
    }
    @media screen and (max-width:480px){
.nav{
   display: none;

}
}
    .title{
	width:100%;
	height:2em;
	font-size: 2em;

    }
    .others{
    	width: 100%;
    	height: 1em;
    	font-size: 1em;
    	color: grey;


    }

	
}
